* {
	box-sizing: border-box;
	line-height: 1;
	text-align: center;
}

.container {
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-weight: bold;
	gap: min(1rem, 3vmin);
}

.label {
	font-size: max(3vmin, 24px);
	opacity: 0.5;
}

.value {
	font-size: 55vmin;
	line-height: 0.9;
}

.timeStamp {
	font-size: max(3vmin, 12px);
	opacity: 0.5;
}

/* AQI Groups */
.good {
	color: #fff;
	background: #00d24d;
}
.moderate {
	color: #000;
	background: #fafa4c;
}
.unhealthySensitive {
	color: #fff;
	background: #fc8434;
}
.unhealthy {
	color: #fff;
	background: #fe6a69;
}
.veryUnhealthy {
	color: #fff;
	background: #a87383;
}
.hazardous {
	color: #fff;
	background: #a97abc;
}
.veryHazardous {
	color: #fff;
	background: #543b63;
}
.dead {
	color: #fff;
	background: #000;
}
